<div (click)="toggleItems()" class="dropdown-root" [ngSwitch]="!! value">
  <div *ngSwitchCase="true" class="dropdown-item-content">

    <ng-template
      [ngTemplateOutlet]="itemTemplate"
      [ngOutletContext]="{ item: value, index: -1 }">
    </ng-template>
  </div>
  <div *ngSwitchCase="false" class="placeholder">

    {{ placeholder || "Nothing Selected" }}
  </div>
</div>
<ul *ngIf="isShowingItems" class="dropdown-items">
  <li
    *ngFor="let item of items ; let index = index ;"
    (click)="selectItem( item )"
    class="dropdown-item">
    <div class="dropdown-item-content">

      <ng-template
        [ngTemplateOutlet]="itemTemplate"
        [ngOutletContext]="{ item: item, index: index }">
      </ng-template>
    </div>
  </li>
</ul>